@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body
{
  font-family: 'Roboto', sans-serif;
  background-color:#00796B ;
  color:white;
}
#temp
{
  font-size:13vh;
  text-align:right;
}
#ville
{
  font-size: 20px;
}
#jour
{
  font-size: 30px;
  opacity:0.6;
}
.btn
{
  border-radius:20px;
  background:white;
  color:#00796B;
}
.input-field
{
  display:flex;
  justify-content:center;
}
#search
{
  margin-bottom:2vh;
}
